rvm:
  - 2.1.9
  - 2.2.5
  - 2.3.1

branches:
  only:
    - master

before_install:
  - rvm @global do gem uninstall bundler --all --executables
  - gem uninstall bundler --all --executables
  - gem install bundler --version '1.12.5'

bundler_args: --jobs 7 --without=acceptance

script:
  - bundle exec rake travis:ci
